{% extends "index.html" %}
{% load static %}
{% load i18n %}

{% block head-extra %}
<link rel="stylesheet" href="{% static 'assets/dist/css/leaflet.css' %}">
{% endblock %}

{% block content %}
<div id="map_id" style="height: 100vh; width: 100%;"></div>

{% endblock %}
{% block script %} <!-- DataTables & Plugins -->
<script src="{% static 'assets/dist/js/axios.min.js' %}"></script>
<script src="{% static 'assets/dist/js/leaflet.js' %}"></script>

<!-- Page specific script -->
    <script>

    let mymap = L.map('map_id').setView(
           [ 21.941415395551573,-78.66101966354675], 10);

    var tileUrl = "{% static 'assets/tiles/' %}";
    // L.tileLayer(tileUrl+'{z}/{x}/{y}.png', { maxZoom: 12 }).addTo(mymap); //ESTA ES LOCAL
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(mymap); //ESTA ES DESDE INTERNET

    const pluviometer_url = "/business-gestion/pluviometer/?page_size=1000";
    var pluv_data;
    axios
        .get(`${pluviometer_url}`, {
        params: {},
        })
        .then((res) => {
        pluv_data = res.data.results;
        for (let pos = 0; pos < pluv_data.length; pos++) {
            let pluv = pluv_data[pos];
            if (pluv.lat != null && pluv.lon != null){ 
            L.marker([pluv.lat, pluv.lon])
                .addTo(mymap)
                .on("mouseover", (e) => {
                let marker = e.target;
                marker.bindPopup(`<b>Pluviómetro</b>: ${pluv.name} (${pluv.station_name})<br>
                                <b>Altura sobre el mar</b>: ${pluv.msnm} metros<br>
                                <b>Latitud</b>: ${pluv.lat}<br>
                                <b>Longitud</b>: ${pluv.lon}<br>
                                `);
                marker.openPopup();
                })
                .on("mouseout", (e) => {
                e.target.closePopup();
                });
            }
        }
        })
        .catch((error) => {
        alert(error);
        });

	</script>

{% endblock %}