{% extends "index.html" %}
{% load static %}
{% load i18n %}

{% block head-extra %}
<link rel="stylesheet" href="{% static 'assets/dist/css/adminlte.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/dist/css/leaflet.css' %}">
{% endblock %}

{% block content %}
<div id="map_id" style="height: 100vh; width: 100%;"></div>

{% endblock %}
{% block script %} <!-- DataTables & Plugins -->
<script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'assets/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-validation/additional-methods.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-validation/localization/messages_es.js' %}"></script>
<script src="{% static 'assets/dist/js/axios.min.js' %}"></script>

<script src="{% static 'assets/dist/js/leaflet.js' %}"></script>
<script src="{% static 'assets/plugins/select2/js/select2.full.min.js' %}"></script>



<!-- Page specific script -->
    <script>

    let mymap = L.map('map_id').setView(
           [ 21.941415395551573,-78.66101966354675], 10);

    var tileUrl = "{% static 'assets/tiles/' %}";
    L.tileLayer(tileUrl+'{z}/{x}/{y}.png', { maxZoom: 12 }).addTo(mymap); //ESTA ES LOCAL
    // L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(mymap); //ESTA ES DESDE INTERNET

    const pluviometer_url = "/business-gestion/pluviometer/";
    const pluviometer_year_url = "/business-gestion/pluviometer/";
    var pluv_data;
    axios
        .get(`${pluviometer_url}`, {
        params: {},
        })
        .then((res) => {
        pluv_data = res.data.results;
        for (let pos = 0; pos < pluv_data.length; pos++) {
            let pluv = pluv_data[pos];
            if (pluv.lat != null) {
            L.marker([pluv.lat, pluv.lon])
                .addTo(mymap)
                .on("mouseover", (e) => {
                let marker = e.target;
                marker.bindPopup(`<b>Pluviómetro</b>: ${pluv.name} (${pluv.station_name})<br>
                                            <b>Altura sobre el mar</b>: ${pluv.msnm} metros<br>
                                            <b>Latitud</b>: ${pluv.lat}<br>
                                            <b>Longitud</b>: ${pluv.lon}<br>
                                            `);
                marker.openPopup();
                })
                .on("mouseout", (e) => {
                e.target.closePopup();
                });
            }
        }
        })
        .catch((error) => {
        alert(error);
        });

	</script>

{% endblock %}